[package]
name = "router"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
sycamore = { path = "../../packages/sycamore" }
sycamore-router = { path = "../../packages/sycamore-router" }

[lints]
workspace = true
