[package]
name = "bench"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
sycamore = { path = "../../sycamore" }

[dev-dependencies]
criterion = "0.4.0"

[[bench]]
harness = false
name = "reactivity"

[[bench]]
harness = false
name = "ssr"
